@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";

.page-container {
  width: 100%;
  background-color: $yellow-1-dark;
  height: 85dvh;
  display: flex;
  position: relative;
  top: 10px;
  gap: 10px;
  padding: 10px 80px;

  @include lg {
    padding: 10px 20px;
  }

  @include md {
    height: 95dvh;
    flex-direction: column;
    padding: 10px 20px;
  }

  .listContainer {
    width: 60%;
    border: 4px solid $blue-3;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    position: relative;
    top: 0;
    background-color: $white-1;

    @include lg {
      width: 55%;
    }

    @include md {
      width: 100%;
      // margin: 10px auto;
      margin-right: 20px;
    }
  }
  .mapContainer {
    position: relative;
    width: 40%;
    border: 4px solid $blue-3;

    border-radius: 10px;
    padding: 10px;
    height: 100%;
    transition: height 0.5s ease-in-out;
    background-color: $white-1;

    @include lg {
      width: 45%;
    }

    @include md {
      width: 100%;
      height: 50%;
    }

    .expandButton {
      display: none;
      border: 3px solid rgb(131, 0, 0);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background-color: rgb(255, 47, 44);
      position: absolute;
      z-index: 10;
      top: -30px;
      left: 50%;
      transform: translate(-50%, 0); /* Center horizontally */
      // transition: height 0.5s ease-in-out;
      @include md {
        display: initial;
      }
      button {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }
}
