@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";

.filter-component {
  width: 100%;
  border: 4px solid $yellow-2-dark;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: sticky;
  top: 0px;
  background-color: $yellow-2;
  z-index: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: $blue-3;

  .location-search {
    padding: 5px 0px;
    display: flex;
    justify-content: start;
    align-items: center;

    label {
      margin-right: 5px;
      font-size: 1.2rem;
    }
    input {
      padding: 5px 3px;
      margin: 0px 10px;
    }
    .search-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white-1;
      border: 3px solid $blue-3;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      padding: 4px;

      
    }
  }

  .filters {
    display: flex;
    gap: 10px;

    .filter-options {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input,
      select {
        min-width: 20px;
        width: 100%;
        padding: 5px 3px;

        @include lg {
        }
      }
    }
  }
}
label {
  font-size: 0.8em;
}
input,
select {
  // all: initial;
  border: 3px solid $blue-3;
  border-radius: 5px;
  margin-top: 2px;
}

