@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";

.slider-container {
  position: relative;
  background-color: white;
  box-shadow: rgba(54, 112, 211, 0.25) 0px 4px 8px -2px,
    rgba(49, 76, 122, 0.093) 0px 0px 0px 1px;
  height: clamp(100px, 100%, 100%);
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  height: 100%;

  .big-image {
    flex: 2;
    object-fit: cover;
    position: relative;
    background-color: white;
    box-shadow: rgba(54, 112, 211, 0.25) 0px 4px 8px -2px,
      rgba(49, 76, 122, 0.093) 0px 0px 0px 1px;
    height: clamp(100px, 100%, 100%);
    padding: 5px;
    border-radius: 3px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .arrow {
      position: absolute;
      // top: 0px;
      z-index: 1000;
      cursor: pointer;
      
      background-color: #fff;
      padding: 5px 7px;
      border: 4px solid $blue-3;
      border-radius: 50%;
    }

    .arrow-left{
      left: -30px;
      top: 40%;
      rotate: -90deg;

    }
    .arrow-right{
      right: -165px;
      top: 40%;
      rotate: 90deg;
    }
  }

  .small-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // gap: 5px;
    object-fit: cover;
    background-color: white;
    box-shadow: rgba(54, 112, 211, 0.25) 0px 4px 8px -2px,
      rgba(49, 76, 122, 0.093) 0px 0px 0px 1px;
    border-radius: 5px;
    img {
      height: 90px;
      padding: 5px 5px;
      border-radius: 10px;
    }
  }
}

// .full-slider {

//     position: relative;

//     .arrow {
//       cursor: pointer;
//       width: 30px;
//       height: 30px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       transform: rotate(90deg); /* Rotate arrow to point left or right */
//     }
// }
