@import "../../styles/responsive.scss";
.map {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.pin {
  background-color: #fff;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
