$yellow-1: #f9e590;

$yellow-1-dark: #feda78;

$yellow-2: rgb(255, 196, 0);

$yellow-2-dark: rgb(255, 170, 0);



$white-1: rgb(255, 251, 239);



$blue-1: #99d6eaff;

$blue-1-dark: rgb(125, 176, 205);

$blue-2: #6798c0ff;

$blue-2-dark: rgb(75, 133, 181);

$blue-3: rgb(20, 61, 123);


$purple-1: #dfa4ff;

$purple-1-dark: #b664e2;

$purple-2: #ad30f0;

$purple-2-dark: #69089d;